html{
    /* background:radial-gradient(rgb(255, 232, 203) -15%,rgb(231, 176, 108) 5%,rgb(255, 232, 203) 550%); */

    background:radial-gradient(rgb(231, 176, 108) -15%,rgb(231, 176, 108) 5%,rgb(255, 140, 0) 225%);

    height: 5%;
    /* font-size: 25px; */
}

p{   
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 1.5;
}

h1{
    font-family: 'billabongregular';
    text-align: center;
    font-size: 13rem;
    font-weight: 120;
    margin: 2rem 0;
    letter-spacing: -1px;
}

h1 a{
    color: black;
    text-decoration: none;
}

@font-face {
    font-family: 'billabongregular';
    src: url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.eot");
    src: url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.eot?#iefix") format('embedded-opentype'), url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.woff") format('woff'), url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.ttf") format('truetype'), url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.svg#billabongregular") format('svg');
    font-weight: normal;
    font-style: normal;
   }

.photoGrid{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap; /**make our figure wrappable our flex items can now can break up in multiple lines /**/
    /* position: relative; */
}
.figure p{
    
    font-size: 20px;
    margin-left: 16px;
    /* margin-bottom: 15px; */
}
.single-photo .remove{
    /* display: none; */
    margin-bottom: 35px;
}
.figure
{
    flex-basis: calc(33.333% - 4rem);
     border: 1px solid white;
     padding: 2rem;
     flex-grow: 1;
     margin: 0 2rem 2rem 2rem;
}

.figure .single-photo {
    flex-basis: calc(33.333% - 4rem);
    flex-grow: 1;
    flex-shrink: 0;
    margin: 0 2rem 2rem 2rem;
    padding: 2rem;
    border: 1px solid #d3d3d3;
    background: #fff;
    position: relative;
}

.single-photo {
    background:radial-gradient(rgb(112, 30, 30) , rgba(29, 0, 17, 0.932));
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    /* background: #fff; */
    border: black;
}


.single-photo .figure {
    box-shadow: none;
    margin: 0 2.2rem 0 0;
    border: 0;
    padding: 0;
    flex: 1 0 60%;
    color: blanchedalmond;
    max-width: 60%;
}

.single-photo .comments {
    flex: 1 0 40%;
    max-width: 40%;
}

.single-photo .photo {
    width: 100%;
    margin: 15.52px;
}
.comment{
    /* background:radial-gradient(rgb(112, 30, 30) , rgba(29, 0, 17, 0.932)); */
    width: 100%;
    margin: 15.52px;
}
.comment p {
    border-bottom: 1px solid #d3d3d3;
    padding: 0.5rem 0;
}
.comment-form input,
.comment-form textarea {
    width: 100%;
    border: 0;
    font-size: 1.3rem;
    padding: 1rem 0;
    border-bottom: 1px solid #d3d3d3;
    outline: none;
    resize: vertical;
    margin-bottom: 21px;
}


.photo{
    width: calc(100% + 4rem);
    margin: -2rem 0rem 0rem -2rem;
}

.button-container
{
    display: flex;
    justify-content: center;
}

.remove {
    /* background: radial-gradient(rgb(75, 115, 190),rgb(0, 247, 255)); */
    background: radial-gradient(rgba(64, 236, 102, 0.945),rgb(77, 129, 56));   
    flex-basis: 48%;
    font-size: 15px;
    border-radius: 15px 50px 30px; 
    box-shadow: 15px 25px 30px  black;
    line-height: 2;
    padding: 2px;
    transition: all ease .4s;
    font-weight: 600;

}

.remove:hover{
    font-weight: 900;
    transition: all ease .4s;
    padding: 8px;
}
.Add {
     background: radial-gradient(rgba(64, 236, 102, 0.945),rgb(77, 129, 56));
     display: table;
     text-decoration: none;
     color: black;
     font-size: 20px;
     font-weight: 700;
     font-family: 'billabongregular';
     margin: 50px auto;
     border-radius: 12px 20px 35px 12px;
     padding: 20px;
     transition: all ease .4s;
     box-shadow: 10px 20px 20px black;
     border: none;

}

.Add:hover {
         font-size: 35px;
        padding: 40px;
       transition: all ease .4s;
}

.form{
    margin: 0 auto;
    background:radial-gradient(rgb(112, 30, 30) , rgba(29, 0, 17, 0.932));
    max-width: 600px;
    padding: 55px;
    text-align: center;
}
.form input{
    font-family: monospace;
    font-size: 18px;
    font-weight: 600;
    border: none;
    margin: 11px auto;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
}
.form button{
    background: radial-gradient(rgb(39, 2, 2) ,black);
    margin: 25px 0 0;
    padding: 15px;
    color: white;
    border: none;
    border-color: rgba(29, 0, 17, 0.932);
    border-radius: 12px;
    width: 50%;
    font-family: cursive;
    font-size: 18px;
    font-weight: 900;
    transition: all ease .5s;


}

.form button:hover {
      /* background: radial-gradient(rgb(221, 0, 0),rgb(39, 2, 2)); */
      background: radial-gradient(rgb(26, 105, 6),rgb(0, 0, 0));
      width: 60%;
      font-size: 20px;
      transition: all ease .5s;
      cursor: pointer;
      letter-spacing: .2em;

}